.sortable-ghost
{
    background-color: #dbf3ff;
}

.task-content
{
    hyphens: auto;
    max-width: calc(100% - 100px);
    word-break: break-word;
    overflow-wrap: break-word;
}

.list-group
{
    max-width: 100%;
}

.navbar-toggler
{
    margin-left: auto;
}