:root
{
    --time-input-width: 235px;
    --duraiton-input-width: 180px;
    --category-input-width: 180px;
}

.list-group
{
    max-width: 100%;
}

.thing-content
{
    max-width: calc(100% - 154px);
    overflow-wrap: break-word;
}